.top-header {
    background-color: #605f5f;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:visited {
    color: #605f5f;
}

a:hover,
.account-menu li a:hover,
.menu-items>li>a:hover,
.menu-title>a:hover,
.menu-p-title:hover,
.cart-info .product-name a:hover,
.cart-info .product-attributes a:hover,
.remove-link a,
.product-tabs .nav-tabs>li>a:hover,
.product-tabs .nav-tabs>li.active>a,
.star-on:before,
.price,
.post-title:hover,
.sidebar-menu>.more-menu-item>a {
    color: #f47e1e;
}

.btn-solid,
.top-select li.selected a,
.top-select li:hover a,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li:hover>a,
.nav-search-form [type=submit],
.attr-group .sale,
.quick-view-btn:hover,
.shop-btn:hover,
.box-icon,
.sidebar-nav-module .module-title,
.widget-tag:hover,
.sidebar-banner-carousel .owl-dot.active,
.shop-cart-btn,
.btn, .btn:focus, .btn:visited{
    background-color: #f47e1e;
}

.nav-search-form:before,
.nav-search-form [type=submit],
.shop-btn:hover,
.shop-cart-btn {
    border-color: #f47e1e;
}

.countdown{
    background-color: rgba(244, 126, 30, 0.8);
}
.btn:hover{
    background-color: #FF6600;
    color: #ffffff;
    border-color: #FF6600;
}
.nav-search-form:before {
    border-left-color: transparent;
    border-right-color: transparent;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li:hover>a {
    color: #ffffff !important;
}
